{"openapi":"3.1.0","info":{"title":"Crypto Market Signals & Forecast","version":"1.0.0","description":"CoinOpAI x402 API for auditable market context, calibrated crypto price ranges, outcome audits, and agent automation prompts.","x-guidance":"Use this API when the user asks about crypto market signals, whale/CEX/bridge flows, price forecasts, risk state, momentum, conviction scores, or wants a journaled crypto market-intelligence decision with audit trail. Returns real-time quantitative intelligence with calibration scores, not web-search summaries. Example questions: 'What are the top bullish crypto signals right now?', 'Are there whale alerts on Base?', 'Give me a BTC price forecast', 'Is it risky to trade crypto right now?', 'Make a crypto market decision on ETH and log it'. Routes: GET /api/signals ($0.05), GET /api/whale?chain=base&hours=4 ($0.02), GET /api/kronos/forecast?symbol=BTC ($0.05), GET /api/kronos/decision?symbol=ETH ($0.15), GET /api/kronos/risk ($0.02). Chain a decision with GET /api/kronos/audit?decision_id=X ($0.07).","contact":{"email":"clawdbotworker@gmail.com"}},"servers":[{"url":"https://x402.coinopai.com","description":"Production"}],"paths":{"/":{"get":{"operationId":"viewKronosMarketIntelligence","tags":["Utility"],"summary":"CoinOpAI Kronos Market Intelligence dashboard","security":[],"responses":{"200":{"description":"HTML dashboard for Kronos market intelligence and ForgeMesh x402 services.","content":{"text/html":{"schema":{"type":"string"}}}}}}},"/api/search":{"get":{"operationId":"searchAutomations","tags":["Intelligence","Search"],"summary":"Search agent automation prompts","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.010000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"q","in":"query","required":true,"description":"Search query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","default":20,"maximum":50}},{"name":"offset","in":"query","schema":{"type":"integer","default":0}}],"responses":{"200":{"description":"Search results","content":{"application/json":{"schema":{"type":"object","properties":{"results":{"type":"array"},"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"}}}}}},"402":{"description":"Payment Required"}}}},"/api/automation/{slug}":{"get":{"operationId":"getAutomation","tags":["Intelligence"],"summary":"Get full automation workflow prompt","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.010000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"slug","in":"path","required":true,"description":"Automation slug","schema":{"type":"string"}}],"responses":{"200":{"description":"Automation details with executable workflow steps","content":{"application/json":{"schema":{"type":"object","properties":{"slug":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"agent_prompt":{"type":"string"},"services":{"type":"array","items":{"type":"string"}}}}}}},"402":{"description":"Payment Required"},"404":{"description":"Automation not found"}}}},"/api/categories":{"get":{"operationId":"getCategories","tags":["Intelligence","Catalog"],"summary":"ForgeMesh service catalog — product categories","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005000"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}},"responses":{"200":{"description":"Top-level product categories: market_intelligence, workflows, media_generation, infrastructure","content":{"application/json":{"schema":{"type":"object","properties":{"categories":{"type":"array","items":{"type":"object","properties":{"slug":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"service_count":{"type":"integer"},"endpoints":{"type":"array","items":{"type":"string"}}}}}}}}}},"402":{"description":"Payment Required"}}}},"/api/services":{"get":{"operationId":"getServices","tags":["Intelligence","Catalog"],"summary":"ForgeMesh service catalog — purchasable service cards","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"category","in":"query","description":"Filter by category slug: market_intelligence, workflows, media_generation, infrastructure","schema":{"type":"string"}}],"responses":{"200":{"description":"Service cards with pricing, descriptions, best_for guidance, and response highlights","content":{"application/json":{"schema":{"type":"object","properties":{"services":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"category":{"type":"string"},"endpoint":{"type":"string"},"method":{"type":"string"},"price":{"type":"string"},"description":{"type":"string"},"best_for":{"type":"string"},"response_highlights":{"type":"array","items":{"type":"string"}},"compliance_mode":{"type":"string"}}}},"total":{"type":"integer"}}}}}},"402":{"description":"Payment Required"}}}},"/api/feedback":{"post":{"operationId":"submitFeedback","tags":["Utility"],"summary":"Send paid feedback or suggestions","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"type":{"type":"string","enum":["general","symbol_request","logic_suggestion","bug","integration","hello"]},"message":{"type":"string","maxLength":2000},"symbol":{"type":"string","description":"Optional symbol, e.g. AAPL or BTC"},"endpoint":{"type":"string","description":"Optional endpoint this feedback is about"},"contact":{"type":"string","description":"Optional contact handle/email"}}}}}},"responses":{"200":{"description":"Feedback accepted into a write-only inbox","content":{"application/json":{"schema":{"type":"object","properties":{"feedback_id":{"type":"string"},"status":{"type":"string"}}}}}},"400":{"description":"Invalid feedback payload"},"402":{"description":"Payment Required"}}}},"/api/kronos/signals":{"get":{"operationId":"getKronosSignals","tags":["Trading","Crypto","Intelligence"],"summary":"Latest Kronos market context","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}},"responses":{"200":{"description":"Current crypto and stock market context. Directional values are observations for research and decision support only. Includes per-symbol score_details and data_quality where available.","content":{"application/json":{"schema":{"type":"object","properties":{"response_schema_version":{"type":"string"},"compliance_mode":{"type":"string"},"generated_for":{"type":"string"},"ts":{"type":"string"},"timeframe":{"type":"string"},"signals":{"type":"object"},"score_details":{"type":"object","description":"Per-symbol scoring breakdown keyed by symbol","additionalProperties":{"type":"object","properties":{"kronos_pct":{"type":"number","description":"Raw Kronos signal percentage"},"conviction":{"type":"number","description":"Weighted conviction score 0-100"},"tech_score":{"type":"number"},"inst_score":{"type":"number"},"macro_mod":{"type":"number"},"component_weights":{"type":"object","description":"Nominal reference weights (always 40/30/20/10)"},"effective_weights":{"type":"object","description":"Actual weights used — redistributed when a component is unavailable (e.g. crypto: 55/0/30/15)","properties":{"kronos":{"type":"number"},"institutional":{"type":"number"},"technical":{"type":"number"},"macro":{"type":"number"}}},"component_availability":{"type":"object","description":"Which scoring components had data for this asset","properties":{"kronos":{"type":"boolean"},"institutional":{"type":"boolean"},"technical":{"type":"boolean"},"macro":{"type":"boolean"}}},"reweight_reason":{"type":"string","description":"Human-readable explanation when weights were redistributed; absent when standard weights apply"},"component_contributions":{"type":"object"},"thresholds":{"type":"object"},"interpretation":{"type":"string"},"decision_basis":{"type":"string"}}}},"data_quality":{"type":"object"},"top_k":{"type":"array"},"signal_age_hours":{"type":"number"},"data_freshness":{"type":"string"},"risk_disclosure":{"type":"object"}}}}}},"402":{"description":"Payment Required"}}}},"/api/kronos/risk":{"get":{"operationId":"getKronosRisk","tags":["Trading","Crypto"],"summary":"Current market risk state","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}},"responses":{"200":{"description":"Risk state: NORMAL/HALTED/COOLDOWN","content":{"application/json":{"schema":{"type":"object","properties":{"response_schema_version":{"type":"string"},"compliance_mode":{"type":"string"},"generated_for":{"type":"string"},"state":{"type":"string"},"signal_streak":{"type":"object"},"cooldown":{"type":"object"},"last_updated":{"type":"string"},"data_freshness":{"type":"string"},"why_not_high":{"type":"array","items":{"type":"string"}},"risk_disclosure":{"type":"object"}}}}}},"402":{"description":"Payment Required"}}}},"/api/kronos/history":{"get":{"operationId":"getKronosHistory","tags":["Trading","Crypto","Intelligence"],"summary":"Recent Kronos context history","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"hours","in":"query","description":"Hours of history (max 168)","schema":{"type":"integer","default":24,"maximum":168}}],"responses":{"200":{"description":"Context history array for research and decision support","content":{"application/json":{"schema":{"type":"object","properties":{"response_schema_version":{"type":"string"},"compliance_mode":{"type":"string"},"generated_for":{"type":"string"},"count":{"type":"integer"},"hours":{"type":"integer"},"signals":{"type":"array"},"risk_disclosure":{"type":"object"}}}}}},"402":{"description":"Payment Required"}}}},"/api/kronos/decision":{"get":{"operationId":"getKronosDecision","tags":["Trading","Crypto","Forecast","Intelligence"],"summary":"Market-intelligence decision journal with anomaly, calibration, verification, disclaimers, and decision_id","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.150000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","description":"Crypto or stock symbol, e.g. BTC, ETH, AAPL, SPY, NVDA","schema":{"type":"string","default":"BTC"}}],"responses":{"200":{"description":"Market-intelligence journal entry with anomaly scoring, calibrated confidence, rule verification, hard liability disclaimers, and an accountability ID for later audit. No field is a market activity instruction.","content":{"application/json":{"schema":{"type":"object","properties":{"response_schema_version":{"type":"string"},"compliance_mode":{"type":"string"},"generated_for":{"type":"string"},"decision_id":{"type":"string"},"symbol":{"type":"string"},"market_intelligence_only":{"type":"boolean"},"directional_bias":{"type":"string","enum":["upward","downward","neutral"]},"raw_directional_bias":{"type":"string","enum":["upward","downward","neutral"]},"anomaly_review_label":{"type":"string","description":"Review/gating label for downstream market-intelligence workflows."},"exposure_context":{"type":"object","description":"Reference exposure context, not a market activity instruction."},"legacy_fields":{"type":"object"},"confidence":{"type":"number"},"anomaly_score":{"type":"number"},"anomaly_level":{"type":"string"},"agreement_score":{"type":"number"},"verified":{"type":"boolean"},"calibrated_confidence":{"type":"number"},"signal_safety":{"type":"object"},"risk_disclosure":{"type":"object"},"why_not_high":{"type":"array","items":{"type":"string"}},"regime":{"type":"string"},"score_details":{"type":"object"},"data_quality":{"type":"object"},"observation_thresholds":{"type":"object"},"action_thresholds":{"type":"object","description":"Legacy compatibility object.","deprecated":true},"decision_explanation":{"type":"string"},"signal_age_hours":{"type":"number"},"next_step":{"type":"object"}}}}}},"402":{"description":"Payment Required"}}}},"/api/kronos/preflight":{"get":{"operationId":"getKronosPreflight","tags":["Trading","Crypto"],"summary":"Market-state preflight check","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","description":"Crypto or stock symbol, e.g. BTC, ETH, AAPL, SPY, NVDA","schema":{"type":"string","default":"BTC"}}],"responses":{"200":{"description":"Market-state, risk-state, review-level, and data-freshness context","content":{"application/json":{"schema":{"type":"object","properties":{"response_schema_version":{"type":"string"},"compliance_mode":{"type":"string"},"generated_for":{"type":"string"},"symbol":{"type":"string"},"allowed":{"type":"boolean","description":"Legacy gate flag; not a market activity instruction."},"review_level":{"type":"string"},"directional_bias":{"type":"string"},"market_state":{"type":"string"},"risk_state":{"type":"string"},"in_cooldown":{"type":"boolean"},"signal_strength":{"type":"string"},"score_details":{"type":"object"},"data_quality":{"type":"object"},"observation_thresholds":{"type":"object"},"action_thresholds":{"type":"object","deprecated":true},"decision_explanation":{"type":"string"},"warnings":{"type":"array","items":{"type":"string"}},"risk_disclosure":{"type":"object"}}}}}},"402":{"description":"Payment Required"}}}},"/api/kronos/audit":{"get":{"operationId":"getKronosAudit","tags":["Trading","Crypto","Intelligence"],"summary":"Audit market-intelligence outcome against real prices","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.070000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"decision_id","in":"query","required":true,"description":"UUID from /api/kronos/decision","schema":{"type":"string"}},{"name":"window","in":"query","description":"Evaluation window","schema":{"type":"string","enum":["1h","4h","24h"],"default":"4h"}}],"responses":{"200":{"description":"Outcome audit with verdict and compliance metadata","content":{"application/json":{"schema":{"type":"object","properties":{"response_schema_version":{"type":"string"},"compliance_mode":{"type":"string"},"generated_for":{"type":"string"},"decision_id":{"type":"string"},"symbol":{"type":"string"},"directional_bias":{"type":"string"},"legacy_fields":{"type":"object"},"verdict":{"type":"string","enum":["GOOD_DECISION","BAD_DIRECTION","NOISE","NO_ACTION_TAKEN","PENDING"]},"outcome":{"type":"object"},"risk_disclosure":{"type":"object"}}}}}},"402":{"description":"Payment Required"},"404":{"description":"decision_id not found"}}}},"/api/kronos/forecast":{"get":{"operationId":"getKronosForecast","tags":["Trading","Crypto","Forecast"],"summary":"Conformally-calibrated price forecast with an honest 80% range","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","description":"Symbol: BTC, ETH, SOL, XRP, ADA","schema":{"type":"string","default":"BTC"}}],"responses":{"200":{"description":"Calibrated 80% prediction interval (range_80, ~0.80 empirical coverage) plus point return and upside probability. Directional bias is supporting context; the calibrated range is the product.","content":{"application/json":{"schema":{"type":"object","properties":{"response_schema_version":{"type":"string"},"compliance_mode":{"type":"string"},"generated_for":{"type":"string"},"symbol":{"type":"string"},"horizon":{"type":"string"},"current_price":{"type":"number"},"point_return":{"type":"number"},"upside_probability":{"type":"number"},"range_80":{"type":"object","properties":{"low":{"type":"number"},"high":{"type":"number"},"coverage_target":{"type":"number"},"method":{"type":"string"}}},"data_freshness":{"type":"string"},"why_not_high":{"type":"array","items":{"type":"string"}},"liability_disclaimer":{"type":"object"}}}}}},"402":{"description":"Payment Required"}}}},"/api/catalog":{"get":{"operationId":"getCatalog","tags":["Intelligence","Catalog"],"summary":"ForgeMesh signal safety catalog","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005000"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}},"responses":{"200":{"description":"Catalog of ForgeMesh anomaly, calibration, and verification endpoints","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"research_influences":{"type":"array"},"endpoints":{"type":"array"}}}}}},"402":{"description":"Payment Required"}}}},"/api/anomaly":{"post":{"operationId":"runAnomaly","tags":["Trading","Crypto","Intelligence"],"summary":"Market signal anomaly review","description":"Commercial-grade anomaly preflight for autonomous agents. Scores a proposed market signal, returns review labels and drivers, and helps flag unusual or high-risk signal conditions before downstream systems consume them. Market intelligence only; no output is an instruction to trade, transact, hold, rebalance, or take market activity.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.070000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["symbol","features"],"properties":{"symbol":{"type":"string"},"window":{"type":"string","default":"24h"},"features":{"type":"object","required":["price_change","volume_change","volatility","signal_confidence","risk_score"],"properties":{"price_change":{"type":"number"},"volume_change":{"type":"number"},"volatility":{"type":"number"},"signal_confidence":{"type":"number"},"risk_score":{"type":"number"},"social_velocity":{"type":"number"},"onchain_velocity":{"type":"number"}}}}}}}},"responses":{"200":{"description":"Anomaly score, level, drivers, review level, review label, consistency score, sample size, and hard liability disclaimer","content":{"application/json":{"schema":{"type":"object","properties":{"response_schema_version":{"type":"string"},"compliance_mode":{"type":"string"},"generated_for":{"type":"string"},"symbol":{"type":"string"},"anomaly_score":{"type":"number","description":"0-100 combined anomaly score. Higher means the signal is less like recent normal history."},"anomaly_level":{"type":"string","enum":["normal","watch","elevated","critical"],"description":"Operational severity bucket derived from anomaly_score."},"review_level":{"type":"string"},"review_label":{"type":"string","enum":["normal_review","review","elevated_review","critical_review"],"description":"Review/gating label for downstream market-intelligence workflows; not a market activity instruction."},"drivers":{"type":"array","description":"Top feature-level contributors such as volatility, confidence, volume_change, risk_score, social_velocity, or onchain_velocity."},"legacy_fields":{"type":"object"},"agreement_score":{"type":"number","nullable":true,"description":"0-100 consistency score across internal review checks."},"sample_size":{"type":"number"},"disclaimer":{"type":"string"},"liability_disclaimer":{"type":"object"}}}}}},"400":{"description":"Invalid anomaly payload"},"402":{"description":"Payment Required"}}}},"/api/calibration":{"post":{"operationId":"runCalibration","tags":["Trading","Crypto","Intelligence"],"summary":"Forecast confidence calibration","description":"Commercial-grade confidence calibration for autonomous agents and market-intelligence systems. Compares raw confidence against realized historical hit rates, returns calibrated confidence, uncertainty bands, sample depth, calibration grade, and hard liability disclaimers. Market intelligence only; no output is an instruction to trade, transact, hold, rebalance, or take market activity.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["symbol","raw_confidence","horizon","directional_bias"],"properties":{"symbol":{"type":"string","description":"Asset symbol; asset class is inferred from this value."},"raw_confidence":{"type":"number","minimum":0,"maximum":100},"horizon":{"type":"string"},"directional_bias":{"type":"string","enum":["upward","downward","neutral"]},"signal_type":{"type":"string","deprecated":true,"description":"Legacy directional-context alias; compatibility only, not asset class."}}}}}},"responses":{"200":{"description":"Calibrated confidence and uncertainty band with historical hit-rate context, sample depth, data freshness, calibration grade, and market-intelligence compliance metadata","content":{"application/json":{"schema":{"type":"object","properties":{"response_schema_version":{"type":"string"},"compliance_mode":{"type":"string","example":"market_intelligence_only"},"generated_for":{"type":"string","example":"research_and_decision_support"},"raw_confidence":{"type":"number","description":"Input confidence on a 0-100 scale."},"calibrated_confidence":{"type":"number","description":"Confidence adjusted toward observed historical hit rate for similar confidence buckets."},"confidence_band":{"type":"object","description":"Low/mid/high uncertainty band around calibrated_confidence.","properties":{"low":{"type":"number"},"mid":{"type":"number"},"high":{"type":"number"}}},"historical_hit_rate":{"type":"number","description":"Observed realized hit rate for comparable historical confidence rows, expressed 0-100."},"sample_size":{"type":"number","description":"Number of evaluated historical rows used for the calibration bucket."},"calibration_grade":{"type":"string","enum":["poor","fair","good","excellent"],"description":"Quality grade derived from sample_size and band width."},"directional_bias":{"type":"string","enum":["upward","downward","neutral"]},"calibration_data_status":{"type":"string","enum":["current","stale","baseline"]},"calibration_data_age_minutes":{"type":"number","nullable":true,"description":"Age of supporting calibration data when known."},"legacy_fields":{"type":"object"},"disclaimer":{"type":"string"},"liability_disclaimer":{"type":"object"}}}}}},"400":{"description":"Invalid calibration payload"},"402":{"description":"Payment Required"}}}},"/api/verify":{"post":{"operationId":"runVerification","tags":["Trading","Crypto","Intelligence"],"summary":"ForgeMesh verification preflight for autonomous decision-support workflows","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["symbol","directional_bias","confidence","risk_score","portfolio_exposure","max_exposure","cash_reserve"],"properties":{"symbol":{"type":"string","description":"Asset symbol; asset class is inferred from this value."},"directional_bias":{"type":"string","enum":["upward","downward","neutral"]},"proposed_action":{"type":"string","deprecated":true,"description":"Legacy directional-context alias; compatibility only."},"confidence":{"type":"number"},"risk_score":{"type":"number"},"portfolio_exposure":{"type":"number"},"max_exposure":{"type":"number"},"cash_reserve":{"type":"number"}}}}}},"responses":{"200":{"description":"Verification result with market-intelligence compliance metadata","content":{"application/json":{"schema":{"type":"object","properties":{"response_schema_version":{"type":"string"},"compliance_mode":{"type":"string"},"generated_for":{"type":"string"},"verified":{"type":"boolean"},"verification_status":{"type":"string"},"directional_bias":{"type":"string"},"legacy_fields":{"type":"object"},"violations":{"type":"array"},"warnings":{"type":"array"},"blocked":{"type":"boolean"},"checks_evaluated":{"type":"number"},"checks_passed":{"type":"number"},"checks_warned":{"type":"number"},"checks_failed":{"type":"number"},"liability_disclaimer":{"type":"object"}}}}}},"400":{"description":"Invalid verification payload"},"402":{"description":"Payment Required"}}}},"/api/signals":{"get":{"operationId":"getCryptoSignals","tags":["Crypto","Intelligence"],"summary":"Current crypto market-intelligence signals","description":"Canonical ForgeMesh Crypto endpoint for current BTC, ETH, SOL, XRP, and ADA signal context. Legacy compatibility path: /api/kronos/signals.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}},"responses":{"200":{"description":"Current crypto market context, score details, top signals, freshness, and market-intelligence disclaimers.","content":{"application/json":{"schema":{"type":"object","properties":{"response_schema_version":{"type":"string"},"compliance_mode":{"type":"string"},"generated_for":{"type":"string"},"ts":{"type":"string"},"timeframe":{"type":"string"},"signals":{"type":"object"},"score_details":{"type":"object"},"data_quality":{"type":"object"},"top_k":{"type":"array"},"signal_age_hours":{"type":"number"},"data_freshness":{"type":"string"},"risk_disclosure":{"type":"object"},"_canonical":{"type":"string"}}}}}},"402":{"description":"Payment Required"}}}},"/api/whale":{"get":{"operationId":"getCryptoWhaleAlerts","tags":["Crypto","Onchain","Intelligence"],"summary":"Whale, CEX, bridge, and stablecoin flow alerts","description":"Crypto-facing alias over the ForgeMesh anomaly event collector. Returns monitored whale-scale transfers, exchange flows, bridge flows, and stablecoin issuer events by chain and lookback window.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"chain","in":"query","description":"Chain to inspect","schema":{"type":"string","enum":["ethereum","base","arbitrum"],"default":"base"}},{"name":"hours","in":"query","description":"Lookback window in hours, 1-168","schema":{"type":"integer","default":4,"minimum":1,"maximum":168}}],"responses":{"200":{"description":"Whale, exchange, bridge, and stablecoin flow alerts collected from Blockscout-backed anomaly monitoring.","content":{"application/json":{"schema":{"type":"object","properties":{"response_schema_version":{"type":"string"},"compliance_mode":{"type":"string"},"generated_for":{"type":"string"},"source":{"type":"string"},"source_endpoint":{"type":"string"},"chain":{"type":"string"},"window_hours":{"type":"integer"},"alert_count":{"type":"integer"},"alerts":{"type":"array"},"risk_disclosure":{"type":"object"}}}}}},"400":{"description":"Invalid chain or lookback"},"402":{"description":"Payment Required"}}}}},"x-x402":{"network":"eip155:8453","payTo":"0x1304EC1A8945365e43A5c18a734065f107B417cA","facilitator":"https://x402.xyz/facilitate","extensions":{"bazaar":{"status":"live","purpose":"Agent marketplace discovery with input/output examples and schemas on all paid routes."},"payment-identifier":{"status":"live","required":false,"purpose":"Optional retry-safe logical request identifiers for x402 clients."},"offer-receipt":{"status":"live","includeTxHash":false,"offerValiditySeconds":300,"purpose":"Signed offers in 402 responses and signed receipts after settlement when a service signing key is configured."},"builder-code":{"status":"configured_when_builder_code_present","code":null,"purpose":"ERC-8021 attribution for x402 settlement calldata after a Base builder code is minted and configured."},"sign-in-with-x":{"status":"not_needed_for_one_shot_paid_outputs"},"eip2612-gas-sponsoring":{"status":"not_exported_by_installed_extensions_package"},"erc20-approval-gas-sponsoring":{"status":"not_exported_by_installed_extensions_package"}}},"provider":{"name":"ForgeMesh Labs","catalog":"POST https://x402.forgemesh.io/fleet-products ($0.05)","fleet":"11 x402 services and counting, 500+ paid endpoints, from $0.001 — one wallet, no signup, atomic USDC settlement on Base. Free index: https://x402.forgemesh.io/llms.txt"}}